.carousel-container {
    width: 100%;
    height: 36vh;
    
    .carousel {
        position: relative;
        .carousel-inner {
            height: 21vh;
             .carousel-item {
                 .carousel-info {
                     position: absolute;
                     background: transparent;
                     width: 500px;
                     left: 26%;
                     top: 31%;
                     font-weight: 300;

                     h1{
                         margin-bottom: 20px;
                         font-size: 8em;
                         color: $white;
                     }
                     p{
                         margin-bottom: 20px;
                         font-size: 25px;
                         color: $white;
                     }
                 }
                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
            }
        }
        .carousel-control-prev{
            z-index: 99999;
            bottom: 0;
            bottom: 4%;
            top: 91%;
            width: 2%;
            left: 14%;
        }
        .carousel-control-next{
            z-index: 99999;
            bottom: 0;
            bottom: 4%;
            top: 91%;
            width: 2%;
            right: 14%;
        }

        .carousel-indicators {
            background-color: $featured-bg;
            margin: 0px;
            bottom: auto;
            height: 60px;
            position: relative;                   

            li {
                width: 145px;
                height: 33%;
                border: none;
               background-color: transparent;
                padding: 20px 0px;
                font-weight: $system-font-stack;
                letter-spacing: 3px;
                color: $secondary-color;
                border-right: 1px solid $carousel-border; 
                img {
                    width: 60% !important;
                    margin: auto auto;
                }
            }
            .active {
                background-color: $primary-color;
            }
        }

    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 9999;
        .navbar  {
            width: 100%;
            background: transparent !important;
            .navbar-brand {
                img {
                    width: 100px;
                }
            }
            .navbar-nav {
                .nav-item{
                    margin-right: 50px;
                    &:last-child {
                        margin-right: 0px;
                    }
                    a {
                        color: $secondary-color;
                        text-transform: uppercase;
                        font-weight: $quicksand-medium;
                    }
                }
                .dropdown {
                    .dropdown-toggle {
                        border: none;
                        outline: none;
                        background: transparent;
                        color: $secondary-color;
                        margin-top: 7px;
                        font-weight: $quicksand-medium;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
