
.featured-block {
    height: 540px;
    padding: 20px;
    &__icon{
        margin-bottom: 20px;
        img {
            width: 30%;
        }
    }
    h2 {
        text-transform: capitalize;
        font-size: 18px;
        margin-bottom:20px;
    }
    h4 {
        font-size: 14px;
        margin-bottom:20px;
    }
    &__content {
        width: 100%;
        p {
            margin-bottom: 20px;
            font-size: 14px
        }
    }
}
.avolon-block {
    background: url(../img/7795_TPG_Homepage_PhoneBknd.jpg) no-repeat; 
    background-size: 100% 100%;   
}
.balls-block {
    background: url(../img/balls.jpg) no-repeat; 
    background-size: cover; 
}