// General Style

body {
 font-family: $system-font-stack;
}

h1 {
    font-size: 18px;
    text-transform: uppercase;
    
}

.button {
    border: 1px solid $secondary-color;
    display: inline-block;
    .btn {
        padding: 10px 40px;
        color: $secondary-color;
        font-weight: $quicksand-medium;
        border: 1px solid $secondary-color;
        border-radius: 30px;
        &:hover {
            background-color: $secondary-color;
            -webkit-transition: background-color 10ms linear;
            -ms-transition: background-color 10ms linear;
            transition: background-color 10ms linear;
            color: $white;
        }
    }
}