/* services section Styles*/
.services-block {
    padding: 50px 0px;
    background-color: #e1dbc9;
    &__icon {
        margin-bottom: 20px;
        display: inline-block;
        img {
            width: 65%;
        }
    }
    h2 {
        text-transform: capitalize;
        font-size: 22px;
        margin-bottom:20px;
    }
    &__content {
        width: 50%;
        margin: 0 auto;
    }
}

/* counter section Styles*/

.counter-section {
    background-color: $primary-color;
    padding: 30px;
    border-right: 2px solid $primary-color;

    &__number {
        color: $secondary-color;
        font-size: 8em;
        margin-bottom: 20px;
        font-weight: 100;
    }
    h4 {
        font-size: 24px;
        color: $white;
    }
    p {
        color: #bbc3d3;
    }
}

/* notification Styles*/

.notification {
    padding: 34px 0px;
    background-color: #6aa1a0;   
    h4 {
        color: $primary-color;
        text-transform: uppercase;
        letter-spacing: 3px;
        .white {
            color: $white;
        }
    }    
}

/* Footer Styles*/

footer {
    background-color: $featured-bg-2;
    .footer-section {
        padding: 50px 20px;
        border-bottom: 1px solid #444f64;
        .btn-footer {
            a {
                padding: 10px 30px;
                display: inline-block;
                color: $secondary-color;
                border: 1px solid $secondary-color;
                &:hover {
                    background: $secondary-color;
                    color: $white;
                    text-decoration: none;
                }
            }
        }
        a {
            margin-bottom: 40px;
        }
        ul {
            padding: 0px;
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 30px;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 4px;
                img {
                    width: 50px;
                }
                p {
                    text-transform: capitalize;
                    .privacy{
                        color: $secondary-color;
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }
}
