@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');
@import "./bootstrap/variables";
@import "./bootstrap/functions";
@import "./bootstrap/mixins/breakpoints";

// Variables

$system-font-stack: 'Quicksand', sans-serif;
$quicksand-light: 300;
$quicksand-regular: 300;
$quicksand-medium: 500;
$quicksand-bold: 700;


// Colors

$white: #ffffff;
$primary-color:#3c465a;
$secondary-color: #c5a57e;
$carousel-border:#b8d2d2;
$featured-bg: #dae7e7;
$featured-bg-2: #212938;
$primary-grey:#b5b8be;