.carousel-container {
	width: 100%;
	height: 36vh;
	.carousel {
		position: relative;
		.carousel-inner {
			height: 21vh;
			.carousel-item {
				.carousel-info {
					position: absolute;
					background: transparent;
					width: 500px;
					left: 26%;
					top: 31%;
					font-weight: 300;
					h1 {
						margin-bottom: 20px;
						font-size: 8em;
						color: $white;
					}
					p {
						margin-bottom: 20px;
						font-size: 25px;
						color: $white;
					}
					a {
						color: $secondary-color;
						text-transform: capitalize;
						display: block;
					}
				}
				img {
					max-width: 100%;
					max-height: 100%;
					object-fit: contain;
				}
			}
		}
		.carousel-control-prev {
			z-index: 99999;
			bottom: 0;
			bottom: 4%;
			top: 92%;
			width: 2%;
			left: 20%
		}
		.carousel-control-next {
			z-index: 99999;
			bottom: 0;
			bottom: 4%;
			top: 92%;
			width: 2%;
			right: 20%;
		}
		.carousel-indicators {
			background-color: $featured-bg;
			margin: 0px;
			bottom: auto;
			height: 60px;
			position: relative;
			li {
				width: 145px;
				height: 33%;
				border: none;
				background-color: transparent;
				padding: 20px 0px;
				font-weight: $system-font-stack;
				letter-spacing: 3px;
				color: $secondary-color;
				border-right: 1px solid $carousel-border;
				img {
					width: 60% !important;
					margin: auto auto;
				}
			}
			.active {
				background-color: $primary-color;
			}
		}
	}
	.nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		z-index: 9999;
		.navbar {
			width: 100%;
			background: transparent !important;
			.navbar-brand {
				img {
					width: 100px;
				}
			}
			.navbar-toggler {
				background-color: $secondary-color;
			}
			.navbar-collapse {
				background-color: $primary-color;
				padding-left: 10px;
                opacity: 0.8;
                @media screen and (min-width: 1024px) {
                    background-color: transparent;                   
                }
			}
			.navbar-nav {
				.nav-item {
					margin-right: 50px;
					&:last-child {
						margin-right: 0px;
					}
					a {
						color: $secondary-color;
						text-transform: uppercase;
						font-weight: $quicksand-medium;
                    }
                    .dots {
                        padding: 0;
                        li{
                            width: 7px;
                            height: 7px;
                            display: inline-block;
                            background-color: $secondary-color;
                            border-radius: 5px;
                        }
                    }
					.ham-menu {
						position: absolute;
						top: 42px;
						left: 0;
						margin: auto;
						max-width: 570px;
						overflow: hidden;
						ul {
							-webkit-transform: translateX(-110%);
							transform: translateX(-110%);
							background-color: $secondary-color;
							-webkit-transition: all 0.5s ease-in-out;
							transition: all 0.5s ease-in-out;
						}
					}
					.ham-menu.on ul {
						-webkit-transform: translateX(0px);
						transform: translateX(0px);
					}
					.ham-menu ul li:first-child .ham-menu ul li a {
						padding-left: 30px;
					}
					.ham-menu ul li a {
						padding: 15px;
						display: block;
						background-color: transparent;
						color: $white;
						text-transform: uppercase;
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						font-size: 13px;
					}
					.ham-menu ul li.active a,
					.ham-menu ul li a:hover {
						background-color: $secondary-color;
						color: $white !important;
					}
				}
				.dropdown {
					.dropdown-toggle {
						border: none;
						outline: none;
						background: transparent;
						color: $secondary-color;
						margin-top: 7px;
						font-weight: $quicksand-medium;
						text-transform: uppercase;
						padding: 0;
					}
				}
			}
		}
	}
}