// General Style
body {
	font-family: $system-font-stack;
}

h1 {
	font-size: 18px;
	text-transform: uppercase;
}

.button {
	border: 1px solid $secondary-color;
	display: inline-block;
	.btn {
		padding: 10px 40px;
		color: $secondary-color;
		font-weight: $quicksand-medium;
		border: 1px solid $secondary-color;
		border-radius: 30px;
		&:hover {
			background-color: $secondary-color;
			-webkit-transition: background-color 10ms linear;
			-ms-transition: background-color 10ms linear;
			transition: background-color 10ms linear;
			color: $white;
		}
	}
}

.carousel-cta {
	text-transform: uppercase;
	&:hover {
		background-color: $secondary-color;
		-webkit-transition: background-color 10ms linear;
		-ms-transition: background-color 10ms linear;
		transition: background-color 10ms linear;
		color: $white;
	}
}

.scroll {
	opacity: 0.3;
	background-color: $secondary-color;
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	border: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
	i {
		color: $white;
		margin: 0;
		position: relative;
		left: 0px;
		top: 13px;
		font-size: 19px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		&:hover {
			color: $white;
			top: 5px;
		}
	}
	&:hover {
		opacity: 1;
	}
}

.arrow-up {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: -5px;
}