// Layout Style
.welcome-section {
	padding: 40px 10px;
	&_header {
		text-transform: uppercase;
		margin-bottom: 25px;
		color: $primary-color;
		letter-spacing: 2px;
		font-size: 2rem;
	}
	&_sub-header {
		text-transform: capitalize;
		margin-bottom: 25px;
		color: $primary-color;
		color: $primary-grey;
		font-size: 20px;
	}
	&_info {
		width: 80%;
		color: $primary-grey;
		margin-bottom: 20px;
		margin: 0 auto;
	}
}

.featured-section {
	&__block-image {
		height: 300px;
		background: url(../img/7795_TPG_Homepage_Body.jpg) no-repeat;
		background-size: 100% 100%;
	}
	&__block-content {
		background-color: $primary-color;
		height: 400px;
		padding: 7rem 0;
		h1 {
			color: $white;
			letter-spacing: 3px;
			font-size: 32px;
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 50px;
			color: $white;
		}
	}
}

.games-section {
	padding: 40px 0px;
	height: 500px;
	h1 {
		margin-bottom: 50px;
		text-transform: uppercase;
		font-size: 25px;
	}
	.games-wrapper {
		height: 300px;
		width: 82%;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
	}
	.button-wrapper {
		left: 47%;
		width: 5%;
		top: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		button {
			border: none;
			background: transparent;
			i {
				font-size: 2rem;
			}
		}
	}
	.carousel {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		display: flex;
		position: absolute;
		left: 0;
		transition: all 1s ease;
	}
	.card {
		outline: none;
		border: none;
		min-width: 200px;
		height: 200px;
		margin-right: 4rem;
		display: inline-block;
	}
}

.interactive-block {
	height: 400px;
	padding: 40px 0px;
	-webkit-transition: background-image 0.4s ease-in-out;
	transition: background-image 0.4s ease-in-out;
	h1 {
		color: $white;
		-webkit-transition: 0.6s ease-in-out;
		transition: 0.6s ease-in-out;
		font-family: $system-font-stack;
	}
	.overlay-content {
		padding: 5em 0px;
		display: none;
		transition: all 0.4s ease-out;
		p {
			margin-bottom: 50px;
			color: $white;
		}
	}
}

.fast-paced {
	background: url(../img/7795_TPG_Homepage_Body_slots.jpg) no-repeat;
	background-size: 100% 100%;
	&:hover {
		background: url(../img/7795_TPG_Homepage_Body_slotsG.jpg) no-repeat;
		background-size: 100% 100%;
		color: $white;
		.overlay-content {
			display: block;
			transition: all 0.4s ease-out;
		}
	}
}

.premier-leaque {
	background: url(../img/7795_TPG_Homepage_Body_sports.jpg) no-repeat;
	background-size: 100% 100%;
	&:hover {
		background: url(../img/7795_TPG_Homepage_Body_sportsG.jpg) no-repeat;
		background-size: 100% 100%;
		color: $white;
		.overlay-content {
			display: block;
			transition: all 0.4s ease-out;
		}
	}
}

.game-change {
	background: url(../img/7795_TPG_Homepage_Body_slots.jpg) no-repeat;
	background-size: 100% 100%;
	&:hover {
		background: url(../img/7795_TPG_Homepage_Body_slotsG.jpg) no-repeat;
		background-size: 100% 100%;
		color: $white;
		.overlay-content {
			display: block;
			transition: all 0.4s ease-out;
		}
	}
}

.interactive {
	background: url(../img/7795_TPG_Homepage_Body_Live.jpg) no-repeat;
	background-size: 100% 100%;
	&:hover {
		background: url(../img/7795_TPG_Homepage_Body_LiveG.jpg) no-repeat;
		background-size: 100% 100%;
		color: $white;
		.overlay-content {
			display: block;
			transition: all 0.4s ease-out;
		}
	}
}