/* ----------- iPhone 6, 6S, 7 and 8 ----------- */


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.carousel-container {
		height: 90vh;
		.carousel {
			.carousel-inner {
				height: 60vh;
			}
		}
	}
}


/* ----------- iPhone X ----------- */


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	.carousel-container {
		height: 29vh;
		.carousel {
			.carousel-inner {
				height: 17vh;
			}
		}
	}
}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.carousel-container {
		height: 97vh;
		.carousel {
			.carousel-inner {
				height: 67vh;
			}
		}
	}
}


/* ----------- iPad 3, 4 and Pro 9.7" ----------- */


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.carousel-container {
		height: 34vh;
		.carousel {
			.carousel-inner {
				height: 25vh;
			}
		}
	}
	.interactive-block {
		height: 500px;
	}
	.featured-block {
		height: 500px;
	}
	.navbar-brand {
		img {
			width: 20vw;
			margin-top: 10px;
		}
	}
	.navbar-collapse {
		background-color: none;
	}
}


/* ----------- Laptop upwards" ----------- */

@media screen and (min-width: 1024px) {
	/* Styles go here */
	.carousel-container {
		height: 54vh;
		.carousel {
			.carousel-inner {
				height: 41vh;
			}
			.carousel-indicators {
				height: 100%;
			}
		}
	}
	.welcome-section {
		&_info {
			width: 50%;
		}
	}
	.featured-section {
		&__block-image {
			height: 400px;
			background-size: cover;
		}
	}
	.interactive-block {
		height: 600px;
		.overlay-content {
			padding: 100px 0px;
		}
	}
	.fast-paced .premier-leaque .game-change .interactive {
		background-size: cover;
		&:hover {
			background-size: cover;
		}
	}
	.featured-block {
		height: 700px;
		padding: 50px;
		&__icon {
			img {
				width: 13%;
			}
		}
		h2 {
			font-size: 18px;
		}
		h4 {
			font-size: 14px;
		}
		&__content {
			width: 55%;
			p {
				font-size: 16px
			}
		}
	}
	.counter-section {
		padding: 78px 85px;
	}
	.notification {
		h4 {
			letter-spacing: 5px;
		}
	}
	.footer-section {
		text-align: center;
		ul {
			display: inline;
			li {
				img {
					width: 50px;
				}
			}
		}
	}
	.navbar-brand {
		img {
			width: 20vw;
		}
	}
}

@media (min-width: 1281px) {
	.carousel-container {
		height: 79vh;
		.carousel {
			.carousel-inner {
				height: 68vh;
			}
			.carousel-indicators {
				height: 100%;
			}
		}
	}
	.interactive-block {
		height: 750px;
		.overlay-content {
			padding: 12em 0px;
		}
	}
	.navbar-brand {
		img {
			width: 7vw;
			margin-top: 10px;
		}
	}
}