/* services section Styles*/

.services-block {
	padding: 50px 0px;
	background-color: #e1dbc9;
	&__icon {
		margin-bottom: 20px;
		display: inline-block;
		img {
			width: 65%;
		}
	}
	h2 {
		text-transform: capitalize;
		font-size: 22px;
		margin-bottom: 20px;
	}
	&__content {
		width: 50%;
		margin: 0 auto;
	}
}


/* counter section Styles*/

.counter-section {
	background-color: $primary-color;
	padding: 30px;
	border-right: 2px solid $primary-navy;
	&__number {
		color: $secondary-color;
		font-size: 8em;
		margin-bottom: 20px;
		font-weight: 100;
	}
	h4 {
		font-size: 24px;
		color: $white;
	}
	p {
		color: #bbc3d3;
	}
}


/* notification Styles*/

.notification {
	padding: 34px 0px;
	background-color: #6aa1a0;
	h4 {
		color: $primary-color;
		text-transform: uppercase;
		letter-spacing: 3px;
		.white {
			color: $white;
		}
	}
}


/* Footer Styles*/

footer {
	background-color: $featured-bg-2;
	.footer-section {
		padding: 50px 20px;
		border-bottom: 1px solid #444f64;
		.btn-footer {
			a {
				padding: 10px 30px;
				display: inline-block;
				color: $secondary-color;
				border: 1px solid $secondary-color;
				&:hover {
					background: $secondary-color;
					color: $white;
					text-decoration: none;
					transition: all 0.4s ease-out;
				}
			}
		}
		a {
			margin-bottom: 40px;
		}
		ul {
			padding: 0px;
			li {
				list-style-type: none;
				display: inline-block;
				margin-right: 30px;
				color: $white;
				text-transform: uppercase;
				letter-spacing: 4px;
				cursor: pointer;
				img {
					width: 50px;
				}
				p {
					text-transform: capitalize;
					.privacy {
						color: $secondary-color;
						letter-spacing: 3px;
					}
				}
				&:hover {
					background-color: $secondary-color;
					color: $white;
					transition: all 0.4s ease-out;
				}
			}
		}
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	.modal-content {
		background-color: $secondary-color;
		margin: auto;
		padding: 20px;
		border: 1px solid $primary-color;
		width: 50rem;
		p {
			color: $primary-color;
		}
	}
}


/* Modal Content */


/* The Close Button */

.close {
	color: $primary-color;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: $secondary-color;
	text-decoration: none;
	cursor: pointer;
}